<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>VARIABLE.HTML</h1>
    <h2>Her firstname is {{first_name | lower | capfirst }} and lastname is {{last_name | lower |capfirst}} </h2>
    <h2>{{some_list.2}}</h2>
    <h2>{{some_dict.inside_key}}</h2>
    <h2>{#This is a comment.#} </h2>

    <ul>
        {% for item in some_list %}
                <li> {{item}} </li>
        {% endfor %}

        {% for k, v in some_dict.items %}
            <li> {{k}} </li>
        {% endfor %}
    </ul>
</body>
</html>